.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headdiv {
  background-color: wheat;
  padding: 20px;
  border: 5px dashed red;
  margin: 10px;
  margin-bottom: 0px;
}

.addbtn { 
  color: white;
  background-color: teal;
  border: 2px solid teal;
}

.addbtn:hover { 
  color: teal;
  background-color: white;
 
}

.bodydiv {
  background-color: thistle;
  margin: 10px;
  margin-top: 0px;
  padding: 20px;
}

.counterDiv {
  width: 50%;
  background-color: blueviolet ;
  color: white;
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  box-shadow: 1px 2px lightseagreen;
}
.btnRound { 
  border-radius: 50px;
  margin: 10px;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  height: 30px;
  width: 30px;
}

.btnPlus{ 
  background-color:green;
}
.btnMinus{ 
  background-color:red;
}
.title{ 
  width: 40%;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
  color: lightgray;
}
.count {
  font-size: 35px;
  color: lightcyan;
  margin: 10px;
}
.btnReset{
   background-color: lightsalmon;
   color: red;
   float: right;
   border-radius: 20px;
   border: 2px solid red;
}